<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Business Detail
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row g-4" *ngIf="fetchedBusiness; else elseBlock">
                <div class="col-md-12 markdown">
                  <h1>{{fetchedBusiness.businessName}}</h1>
                </div>
                <div class="col-md-4 markdown">
                  <a href="business-detail" class="d-block"><img src="../../../assets/static/photos/1b73704b282a8ec6.jpg" class="card-img-top"></a>
                </div>
                <div class="col-md-8 markdown">
                  The sample text for this business that can go as long as this. The text will now repeat. The sample text for this business that can go as long as this. The text will now repeat.
                </div>
              </div>
              <ng-template #elseBlock>Error finding the business. Please try again!</ng-template>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
